@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Components
@using MoodProject.App.Services
@using MoodProject.Core.Enums
@using MoodProject.Core.Ports.In
@using MoodProject.Services
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject CacheService CacheService
@inject IUsersService UsersService
@inject IdentityService IdentityService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="img/logo.png" alt="logo" width="32px" class="logo"/>
        <a class="navbar-brand mx-1" href="">vigilance-mentale.be</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <HasAcceptedGdpr>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="quizz" Match="NavLinkMatch.All">
                            <span class="oi oi-question-mark" aria-hidden="true"></span> Questionnaire
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="profile" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Mon profil
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="medications" Match="NavLinkMatch.All">
                            <span class="oi oi-heart" aria-hidden="true"></span> Médicaments
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="rooms" Match="NavLinkMatch.All">
                            <span class="oi oi-envelope-closed" aria-hidden="true"></span> Discussions
                        </NavLink>
                    </div>
                </HasAcceptedGdpr>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Accueil
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles="Moderator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/rooms/moderation" Match="NavLinkMatch.All">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Gérer les contenus
                    </NavLink>
                </div> 
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resources" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Ressources
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gdpr" Match="NavLinkMatch.All">
                <span class="oi oi-shield" aria-hidden="true"></span> RGPD
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="#" Match="NavLinkMatch.All" @onclick="BeginSignOut">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Se déconnecter
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                        <span class="oi oi-key" aria-hidden="true"></span> Se connecter
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <div class="version">
            <p>Version: @InstalledVersion</p>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    
    private string InstalledVersion = string.Empty;

    private bool HasAcceptedGdpr = false;

    protected override async Task OnInitializedAsync()
    {
        InstalledVersion = await CacheService.GetInstalledVersion();
        HasAcceptedGdpr = await CacheService.GetHasAcceptedGdpr(await IdentityService.GetUserId());
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    // Auth
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
