.navbar-toggler {
    background-color: #004070;
}

.nav-scrollable {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: #003357FF;
}
.collapse {
    display: none;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(247,247,247,0.96);
}

.navbar-brand {
    font-size: 1.1rem;
    color: #000;
    font-family: "Trebuchet MS", serif;
}
.navbar-brand:hover{
    color: #003357FF;
    transition-duration: 3s;
}
.logo:hover{
    filter: hue-rotate(360deg);
    transition-duration: 4s;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #fff;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.version{
    position: relative;
    width: 100%;
    background-color: #406681;
    color: white;
    bottom: 0;
}
.version p{
    text-align: center;
    margin: 0;
}

@media (min-width: 640px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
