@page "/fetchdata"
@using MoodProject.Core.Ports.In
@using MoodProject.Core
@inject HttpClient Http
@inject ISymptomsTypesService typesService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (symptomsTypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in symptomsTypes)
            {
                <tr>
                    <td>@type.Id</td>
                    <td>@type.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<SymptomType> symptomsTypes;

    protected override async Task OnInitializedAsync()
    {
        symptomsTypes = await typesService.GetAll();
    }
}
