@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<h1>Bienvenue</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        @test
    </Authorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private string test;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}