@page "/Rooms/rules"
<h1>Réglement des espaces de discussion</h1>
<h2>1. Respect mutuel</h2>
<p>Respectez toujours les opinions et les expériences des autres participants. Chacun peut avoir une perspective différente sur les symptômes.</p>
<h2>2. Confidentialité </h2>
<p>Ne partagez pas d'informations personnelles sensibles. Les discussions doivent rester anonymes pour garantir la confidentialité des participants.</p>
<h2>3. Langage respectueux</h2>
<p>Utilisez un langage respectueux et courtois. Évitez les propos offensants, les insultes ou tout langage inapproprié.</p>
<h2>4. Aucun conseil médical professionnel</h2>
<p>L'espace de discussion ne remplace pas les conseils médicaux professionnels. Encouragez les participants à consulter un professionnel de la santé pour des conseils personnalisés.</p>
<h2>5. Véracité de l'information</h2>
<p>Avant de partager des informations, assurez-vous qu'elles sont précises et provenant de sources fiables. Évitez de propager des rumeurs ou des informations non vérifiées.</p>
<h2>6. Pas de publicité</h2>
<p>Évitez de faire de la publicité ou de promouvoir des produits. L'espace de discussion doit rester axé sur le partage d'expériences et d'informations utiles.</p>
<h2>7. Thème centré sur les symptômes</h2>
<p>Gardez les discussions centrées sur les symptômes et les expériences liées. Évitez les sujets non pertinents qui pourraient détourner l'attention du but initial de l'espace.</p>
<h2>8. Pas de diagnostic en ligne</h2>
<p>Les participants ne doivent pas tenter de diagnostiquer les symptômes des autres. Encouragez plutôt à consulter un professionnel de la santé pour des conseils appropriés.</p>
<h2>9. Signaler les abus</h2>
<p>Si vous rencontrez un comportement inapproprié, signalez-le aux modérateurs. Les modérateurs sont là pour maintenir un environnement sûr et respectueux.</p>
<h2>10. Limitation des conseils personnels</h2>
<p>Évitez de donner des conseils personnels trop spécifiques. Chaque personne est unique, et ce qui fonctionne pour l'un peut ne pas convenir à l'autre. Encouragez plutôt le partage d'expériences générales.</p>