@page "/Room/{Id:int}"
@using MoodProject.Core.Models
@using MoodProject.Core.Ports.In
@using MoodProject.Core.Enums
@inject IChatRoomsService RoomsService
@inject NavigationManager NavigationManager

@attribute [Authorize]

@inherits MoodProject.App.Shared.Helpers.IdentityHelper

@switch (roomOperation.Status)
{
    case OperationResultType.Pending:
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        break;

    case OperationResultType.Ok:
        if (roomOperation.Content.Posts.Any(p => p.ModerationStatus == ModerationStatus.Published))
        {
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Auteur</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var post in roomOperation.Content.Posts.Where(p => p.ModerationStatus == ModerationStatus.Published))
                {
                    <tr @onclick="@(()=> NavigationManager.NavigateTo($"/room/{Id}/{post.Id}"))">
                        <td>@post.Title</td>
                        <td>@post.AuthorId</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <InfoMessage Text="Il n'y a encore aucun post sur cet espace de discussion."/>
        }
        break;

    default:
        <div class="alert alert-danger" role="alert">
            @roomOperation.Message
        </div>
        break;
        
}
<td><a class="btn btn-primary" href="/room/@Id/create">Créer un nouveau post</a></td>

@code {
    [Parameter]
    public int Id { get; set; }

    private string userId { get; set; }

    private OperationResult<ChatRoom> roomOperation = new(OperationResultType.Pending);
    

    protected override async Task OnInitializedAsync()
    {
        roomOperation = await RoomsService.GetRoomById(Id);
        userId = await GetUserId();
    }

    private async Task UpdatePostStatus(int id, ModerationStatus newStatus)
    {
        var post = roomOperation.Content.Posts.FirstOrDefault(p => p.Id.Equals(id));
        if (post != null)
        {
            post.ModerationStatus = newStatus;
            var updateOperation = await RoomsService.UpdatePost(post);
            if (updateOperation.Status.Equals(OperationResultType.Ok))
            {
                StateHasChanged();
            }
        }
    }
}